In [1]:
import requests
from bs4 import BeautifulSoup as bs
import urllib
import pandas as pd
import numpy as np
from urllib.request import urlopen

In [2]:
team = []
avg = []
year = []
league = []

In [3]:
#Attendance for Major North American Professional Sports
sports = ['nfl','mlb','nba','nhl']

for s in sports:
    for i in range (2009,2020):
        url= "http://www.espn.com/" + str(s) + "/attendance/_/year/"+str(i)
        page = urlopen(url)
        soup = bs(page) 
        table = soup.find('table')
        for row in table.findAll("tr",{"class":["oddrow","evenrow"]}):
                col=row.findAll('td')

                team.append(col[1].string)
                avg.append(col[4].string)
                year.append(str(i))
                league.append(soup.find("span",{"class":"link-text"}).text)

In [4]:
sports_dict = {'Team': team,
         'Average Attendance': avg,
         'Year': year,
         'League': league}

In [5]:
df = pd.DataFrame.from_dict(sports_dict)

In [6]:
df

              Team Average Attendance  Year League
0           Dallas             89,756  2009    NFL
1       Washington             84,794  2009    NFL
2        NY Giants             78,701  2009    NFL
3          NY Jets             77,052  2009    NFL
4           Denver             75,116  2009    NFL
...            ...                ...   ...    ...
1357        Ottawa             14,553  2019    NHL
1358      Carolina             14,322  2019    NHL
1359       Arizona             13,989  2019    NHL
1360       Florida             13,261  2019    NHL
1361  NY Islanders             12,442  2019    NHL

[1362 rows x 4 columns]

In [8]:
export_excel = df.to_excel (r'C:\Users\kevin\OneDrive\Documents\Personal Projects\Football Market Research\newavg_att.xlsx', index = None, header=True)